In [44]:
data=3998
print(data)
type(data),id(data) #To run -->shift+enter

3998

(int, 1878430166224)

In [30]:
print("My name is Piyush", "I am a good guy!",sep=' & ',end='!') #IO->print function || TO see description (shift+tab)

My name is Piyush & I am a good guy!!

In [12]:
#assigning the varoables
x=15
y=19
z=98
x*z #mul
y*5

95

In [4]:
x**y #exponentiation

22168378200531005859375

In [11]:
z//y #floor division

5

In [16]:
import math
math.floor(z/y)

5

In [17]:
math.ceil(x/y)

1

In [18]:
#python identity operator
x is y

False

In [23]:
#membership operator

list=[10,20,30,40]
1 in list
10 in list

True

In [27]:
string='Learn Data Science'
'Data' in string #true
'data' in string #false

False

In [ ]:
#bitwise operator

x = 1010 #10
y = 0101 #5

x | y = 1111
x & y = 0000

In [28]:
x = 10
y = 5

x|y

15

In [29]:
x&y

0

In [35]:
#comparison operator

10>9
100>100
16>=16

9>98 and 3<9 #false
9>98 or 3<9  #true

True