# Nested Loop

In [7]:
rows=4
for x in range(1,1+rows):
    for y in range (1,x+1):
        print('#', end=' ')
    print('')

#
# #
# # #
# # # #

In [8]:
num=[1,2,3,4]

for i in num :
    index=0
    while index<len(num):
        print(num[index],end=' ')
        index+=1
    print('\n')

1 2 3 4

1 2 3 4

1 2 3 4

1 2 3 4

In [18]:
num = [1, 2, 3, 4]

# Iterate through the numbers in reverse order
for i in range(len(num)-1, -1, -1):
    # Print spaces before the numbers
    print("  " * i, end=" ")

    # Print the numbers in ascending order
    for j in range(i, len(num)):
        print(num[j], end=" ")

    # Print the numbers in descending order
    for k in range(len(num)-2, i-1, -1):
        print(num[k], end=" ")
    
    # Move to the next line
    print()

       4
     3 4 3
   2 3 4 3 2
 1 2 3 4 3 2 1

# List in Py

In [31]:
l1=[0,3,0,9,19,98]
type(l1)
print(l1[4:6],type(l1))

[19, 98] <class 'list'>

In [41]:
l1[5]='yob' #update

In [42]:
l1

[0, 3, 0, 9, 19, 'yob']

In [43]:
l1.append('dob')

In [44]:
l1

[0, 3, 0, 9, 19, 'yob', 'dob']

In [45]:
import sys
sys.getsizeof(l1)

136

In [46]:
l1.append('age24')

In [47]:
l1

[0, 3, 0, 9, 19, 'yob', 'dob', 'age24']

In [48]:
import sys
sys.getsizeof(l1)

136

In [49]:
l1.pop()

'age24'

In [50]:
l1

[0, 3, 0, 9, 19, 'yob', 'dob']

In [52]:
l1.pop(0)

0

In [53]:
l1 #orderly popped 0

[3, 0, 9, 19, 'yob', 'dob']

In [55]:
l1

[0, 9, 19, 'yob', 'dob']

In [66]:
l1.insert(1,3)
l1.insert(6,98)

In [68]:
l1

[0, 3, 3, 3, 3, 0, 98, 9, 98, 98, 19, 'yob', 'dob']

In [74]:
del l1[1:3:1]

In [75]:
l1

[0, 3, 0, 98, 9, 98, 98, 19, 'yob', 'dob']

In [82]:
l1

[0, 3, 0, 19, 'yob', 'dob']

In [85]:
l1.insert(3,9)

In [87]:
l1.pop()

3

In [88]:
l1

[0, 3, 0, 9, 19, 'yob', 'dob']

In [89]:
l2=['ai',98,(3,9,98)]
l2[2]

(3, 9, 98)

In [90]:
l2[2][2] #access the indices of the tuple

98

In [95]:
l3=[]
n=int(input('Enter your total index: '))

for i in range(n) :
    new=input()
    l3.append(new)
print(l3)

Enter your total index: 3
9
1998
dob
['9', '1998', 'dob']

# List comprehension

In [2]:
list=[]

for i in range (10):
    list.append (i)
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list1=[x for x in range(10)] #list comprehenson
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list2 = []
for x in range (10):
    if x%2==0:
        list2.append(x)
list2

[0, 2, 4, 6, 8]

In [11]:
list3=[x for x in range (10) if x%2==0]
list3

[0, 2, 4, 6, 8]

In [15]:
list5 = [3,9,19,98,'dob',58]
list6 = [x for x in list5]
list6

[3, 9, 19, 98, 'dob', 58]

In [17]:
list6=[x for x in list5 if x!='dob']
list6

[3, 9, 19, 98, 58]

In [18]:
list6=[3**x for x in range(10)]
list6

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683]

In [19]:
'dob' in list6

False

In [20]:
'dob' in list5

True